---
// Estilos Tailwind CSS
const sectionStyle =
  "flex flex-col md:flex-row bg-gradient-to-r from-blue-400 via-blue-300 to-blue-400 min-h-screen";
const formStyle =
  "w-full md:w-3/4 bg-gray-100 text-gray-800 text-lg rounded-2xl shadow-2xl p-10 flex flex-col items-start gap-4";
const buttonStyle =
  "bg-blue-600 hover:bg-blue-700 text-white rounded-xl px-6 py-3 mt-4 w-full transition duration-300";
const inputStyle =
  "border p-3 rounded-xl w-full focus:outline-none focus:ring-2 focus:ring-blue-500";
const labelStyle = "w-full text-left";
const h2Style = "font-bold text-2xl text-center w-full text-blue-600";
const divLeftStyle = "w-full md:w-1/2 flex items-center justify-center p-6";
const divRightStyle = "w-full md:w-1/2 flex items-center justify-center p-6";
const imgStyle = "max-w-full h-auto rounded-xl shadow-lg";
---

<section class={sectionStyle}>
  <!-- Parte izquierda -->
  <div class={divLeftStyle}>
    <img src="https://placehold.co/500X500" alt="" class={imgStyle} />
  </div>

  <!-- Parte derecha -->
  <div class={divRightStyle}>
    <form class={formStyle} action="">
      <h2 class={h2Style}>Contáctanos</h2>

      <label for="nombre" class={labelStyle}>Nombre:</label>
      <input
        class={inputStyle}
        type="text"
        name="nombre"
        placeholder="Angel AFL"
      />

      <label for="correo" class={labelStyle}>Correo:</label>
      <input
        class={inputStyle}
        type="text"
        name="correo"
        placeholder="angel@gmail.com"
      />

      <label for="telefono" class={labelStyle}>Teléfono:</label>
      <input
        class={inputStyle}
        type="text"
        name="telefono"
        placeholder="+529997261503"
      />

      <label for="mensaje" class={labelStyle}>Mensaje:</label>
      <textarea
        class={inputStyle}
        name="mensaje"
        placeholder="¡Hola! mi proyecto es..."></textarea>

      <button class={buttonStyle}> Enviar </button>
    </form>
  </div>
</section>
